{% extends 'admin/adminLayout.html.twig' %}

{% block title %}Gestion des utilisateurs
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin_user') }}
{% endblock %}

{% block body %}
	<main class="container">
		<h1 class="text_primary">Gestion des utilisateurs</h1>

		<table class="table table-success table-striped table-header-fixed">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Prénom</th>
					<th>Status</th>
					<th>Compte</th>

				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.lastname }}</td>
						<td>{{ user.firstname }}</td>
						<td>
							{% if 'ROLE_ADMIN' in user.roles %}
								Administrateur
							{% elseif 'ROLE_EMPLOYEE' in user.roles %}
								Salarié
							{% else %}
								Bénévole
							{% endif %}
						</td>
						<td>
							{% if user.isActivated %}
								<form action="{{ path('admin_user_desactivate', {'id': user.id}) }}" method="post">
									<button class="btn btn-success btn-sm" type="submit">Activé</button>
								</form>
							{% else %}
								<form action="{{ path('admin_user_activate', {'id': user.id}) }}" method="post">
									<button class="btn btn-danger btn-sm" type="submit">Désactivé</button>
								</form>
							{% endif %}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="4">Aucun utilisateur trouvé</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</main>
{% endblock %}
